@using SignalR_Demo.Models
@model Feed

<section>
    @using (Html.BeginForm("Add", "Feeds", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Add a new feed", ngModel= "addFeed", @class = "col-md-3 form-control" })
            <input type="submit" id="addFeed" ng-click="subscribe(addFeed)" class="btn btn-primary btn-large" value="Search &raquo;" />
        </div>
    }
</section>