@using SignalR_Demo.Models

<div class="feeds" ng-app="Feeds" ng-controller="List" ng-cloak>
    @*@{ Html.RenderPartial("_Add", new Feed()); }*@

    <form>
        <section>
            <div class="form-group">
                <input type="text" ng-model="post.Body" placeholder="New Post" class="col-md-3 form-control" />
                <input type="submit" ng-click="addPost()" class="btn btn-primary btn-large" value="Post &raquo;" />
                <input type="hidden" ng-model="post.FeedName" ng-init="post.FeedName='My Feed 1'" value="{{post.FeedName}}">
            </div>
        </section>
    </form>
    <section class="clearfix">
        <div class="col-md-3 ticker view-container">
            <ul ng-repeat="item in items | limitTo:wallLength">
                <li>{{item.FeedName}}</li>
                <li>{{item.DateTime | date:'h:mm:ss a'}}</li>
                <li>{{item.Body}}</li>
            </ul>
        </div>
        <div class="col-md-3 input-group">
            <span class="input-group-addon">max results shown</span>
            <input type="number" ng-model="wallLength" class="form-control" ng-init="wallLength=5" />
        </div>
    </section>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/apps/feeds")
}